.carousel-inner img {
  width: 100%;
  height: 100%;
  filter: blur(5px);
}
.welcome-area {
width: 100%;
height: 100vh; /* Ocupa toda la altura de la pantalla */
position: relative;
display: flex;
align-items: center;
justify-content: right; /* Alinea el contenido al inicio horizontalmente */
padding: 20px; /* Asegura un poco de espacio interno */
}

.welcome-area img {
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

.header-text {
position: relative;
z-index: 2;
color: white;
text-align: right; /* Alinea el texto a la izquierda */
}

.highlight {
color: #FFD700; /* Color dorado para el resaltado */
}


.carousel-caption{
  background-color: rgba(247, 186, 186, 0.8) !important;
  z-index: 11;
  color: rgb(255, 255, 255) !important;
}
.blanco{
  color: white;
}

.carousel-control-prev{
  top: 70%!important;
  margin-left: 20%;
}

.carousel-control-next{
  top: 70%!important;
  margin-right: 20%;
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%!important;
    left: 0%!important;
    top: 25%!important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .line {
    padding: 4%;
    border-left: 2px solid gray;
    margin-left: 30%;
    text-align: left;
  }

.main a {
  background-color: #D36F6F!important;
  width: 30%;
  height: 25%;
}

.fas {
  color: white!important;
}

img {
  width: 100%;
}

.second.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.welcome-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(113, 113, 113, 0); /* Color negro con opacidad del 50% */
}

.header-text {
  color: white;
  position: relative;
  z-index: 1;
  text-align: right;
  max-width: 80%; /* Limita el ancho máximo del texto */
  margin-right: 16rem;
}

.header-text h1 {
  font-size: 5em; /* Ajusta el tamaño según tus necesidades */
  margin-bottom: 0.2em; /* Reduce el margen inferior */
  color: #fff; /* Asegura que el texto del título sea blanco */
  background-color: #1d3557;
  border-radius: 1rem;
  width: 43rem;
  height: 7rem;
  text-align: center;
}

.header-text h1 .highlight {
  font-size: 1em; /* Ajusta el tamaño del texto resaltado */
  color: #e63946;
}
.header-text h2 .highlight {
  color: #1d3557;
}
.header-text h2{
  background-color: #e63946;
  width: 32rem;
  text-align: center;
  border-radius: 1rem;
  justify-self: right;
}

.header-text em {
  /* display: block; Asegura que cada línea esté en su propio bloque */
  font-size: 1.5em; /* Ajusta el tamaño según tus necesidades */
  color: #1d3557; /* Asegura que el texto del párrafo sea blanco */
  margin: 0.1em 0.1; /* Reduce el margen entre las líneas */
  text-align: right; /* Alinea el texto a la izquierda */
}
.mediaq{
  display: none;
}
.medianoq{
  display: block;
}
@media (max-width: 768px) {
  .welcome-area {
    min-height: 600px; /* Ajusta la altura mínima para móviles */
  }

  .header-text {
    padding: 0 20px; /* Asegura un poco de espacio lateral */
    margin-left: 0; /* Resetea el margen izquierdo para móviles */
  }

  .header-text h1 {
    font-size: 2em; /* Ajusta el tamaño según tus necesidades para móviles */
    margin-left: 11rem;
    width: 21rem;
    height: 3rem;
  }
  .header-text h2 {
    width: 18rem;
  }
  .mediaq {
    display: grid;
    margin-left: 14rem;
  }
  .medianoq {
    display: none;
  }

  .header-text em {
    font-size: 1.2em; /* Ajusta el tamaño según tus necesidades para móviles */
  }
}



/* //////////////////////////////////////////////////////////////////////////// */
/* Elimina los estilos previos que puedan causar conflicto */
.welcome-area .header-text h1 {
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.welcome-area .header-text h1 em {
  font-style: normal;
  color: #fff; /* Asegura que el texto del título en negrita sea blanco */
}

.welcome-area .header-text p {
  font-weight: 300;
  font-size: 1.5em; /* Ajusta el tamaño según tus necesidades */
  color: #fff; /* Asegura que el texto del párrafo sea blanco */
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 1420px) {
  .welcome-area .header-text {
    width: 70%;
    margin-left: 5%;
  }
}

@media (max-width: 1320px) {
  .welcome-area .header-text .left-text {
    margin-top: 50%;
  }
  .welcome-area .header-text {
    width: 50%;
    margin-left: 5%;
  }
}

@media (max-width: 1140px) {
  .welcome-area {
    height: auto;
  }
  .welcome-area .header-text {       
    width: 92%;
    padding-top: 793px;
  }
  .welcome-area .header-text .left-text {
    margin-top: 5%;
    transform: none !important;
  }
}
@media (max-width: 810px) {
  .welcome-area {
    background-size: contain;
  }

  .welcome-area .header-text {
    padding-top: 100%;
    margin-left: 0;
  }
    
  .container-fluid .col-md-12 {
    margin-right: 0px;
    padding-right: 0px;
  }
}


/*
---------------------------------------------
about
---------------------------------------------
*/

#about {
  padding: 100px 0px;
  position: relative;
  z-index: 9;
}

@media (max-width: 992px) {
  .features-item {
    margin-bottom: 45px;
  }
}

.features-item {
  border-radius: 5px;
  padding: 60px 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.features-item h2 {
  z-index: 9;
  position: absolute;
  top: 15px;
  left: 45px;
  font-size: 100px;
  font-weight: 600;
  color: #fdefe9;
}

.features-item img {
  z-index: 10;
  position: relative;
  max-width: 100%;
  margin-bottom: 40px;
}

.features-item h4 {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
}

.features-item .main-button {
  margin-top: 35px;
  display: inline-block;
}


/*
---------------------------------------------
promotion
---------------------------------------------
*/

.left-image-decor {
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

#promotion {
  padding: 100px 0px;
}

#promotion .left-image {
  align-self: center;
}

#promotion .right-text ul {
  padding: 0;
  margin: 0;
}

#promotion .right-text ul li {
  display: inline-block;
  margin-bottom: 60px;
}

#promotion .right-text ul li:last-child {
  margin-bottom: 0px;
}

#promotion .right-text img {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

#promotion .right-text h4 {
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 15px;
  margin-top: 3px;
}


/*
--------------------------------------------
testimonials
--------------------------------------------
*/
.right-image-decor {
  background-image: url(../images/right-bg-decor.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

#testimonials {
  padding-top: 100px;
  position: relative;
  z-index: 9;
}

#testimonials .item {
  position: relative;
}

#testimonials .item .testimonial-content {
  background: rgb(244,129,63);
  background: linear-gradient(145deg, rgba(244,129,63,1) 0%, rgba(241,85,106,1) 100%);
  margin-left: 60px;
  padding: 40px 30px;
  text-align: center;
  border-radius: 5px;
}

#testimonials .item .testimonial-content ul li {
  display: inline-block;
  margin: 0px 1px;
}

#testimonials .item .testimonial-content ul li i {
  color: #fff;
  font-size: 13px;
}

#testimonials .item .testimonial-content h4 {
  font-size: 22px;
  margin-top: 20px;
  color: #fff;
}

#testimonials .item .testimonial-content p {
  color: #fff;
  font-style: italic;
  font-weight: 200;
  margin: 20px 0px 15px 0px;
}

#testimonials .item .testimonial-content span {
  color: #fff;
  font-weight: 200;
  font-size: 13px;
}

#testimonials .author img {
  max-width: 120px;
  margin-bottom: -60px;
}

.owl-carousel .owl-nav button.owl-next span {
  z-index: 10;
  top: 45%;
  border-radius: 10px;
  font-size: 46px;
  color: #fff;
  right: -210px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  background: rgb(244,129,63);
  background: linear-gradient(145deg, rgba(244,129,63,1) 0%, rgba(241,85,106,1) 100%);
  position: absolute;
}

.owl-carousel .owl-nav button.owl-prev span {
  z-index: 9;
  top: 30%;
  border-radius: 10px;
  font-size: 46px;
  color: #fff;
  right: -150px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  background: rgb(244,129,63);
  background: linear-gradient(145deg, rgba(244,129,63,1) 0%, rgba(241,85,106,1) 100%);
  position: absolute;
}

@media screen and (max-width: 1060px) {
  .owl-carousel .owl-nav {
    display: none!important;
  }
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/

@media (max-width: 992px) {
  footer {
    padding-top: 0px!important;
    margin-top: 0px!important;
  }
  .contact-form {
    margin-bottom: 20px;
  }
  footer .right-content {
    text-align: center;
  }
  footer .footer-content {
    padding: 1px 0px!important;
  }
}

footer .footer-content {
  padding: 60px 0px;
}

.contact-form {
  position: relative;
  z-index: 10;
  padding: 45px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

footer .right-content {
  align-self: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 13px;
  border: 1px solid #1d3557;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form {
  text-align: center;
}

.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #7a7a7a;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7a7a7a;
}

.contact-form ::placeholder {
  color: #7a7a7a;
}

.footer-content .right-content {
  color: #fff;
}

.footer-content .right-content h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-content .right-content h2 em {
  font-style: normal;
  color: #fba70b;
}

.footer-content .right-content p {
  color: #FFF;
}

.footer-content .right-content a {
  color: #FFF;
}

.footer-content .right-content a:hover {
  color: #FC3;
}

footer .social {
  overflow: hidden;
  margin-top: 30px;
}

footer .social li:first-child {
  margin-left: 0px;
}

footer .social li {
  margin: 0px 7.5px;
  display: inline-block;
}

footer .social li a {
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .social li a:hover {
  background-color: #fba70b;
  border-color: #fba70b;
  color: #fff;
}

footer .copyright {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #4a4a4a;
  letter-spacing: 0.88px;
  text-transform: capitalize;
}

footer .sub-footer {
  padding: 60px 0px;
  border-top: 1px solid rgba(250,250,250,0.3);
  text-align: center;
}

footer .sub-footer a {
	color: #FFF;
}

footer .sub-footer a:hover {
	color: #FC3;
}

footer .sub-footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media (max-width: 991px) {
  footer .copyright {
    text-align: center;
  }
  footer .social {
    text-align: center;
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(145deg, #e69839 0%, #e63946 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}